/* style sheet*/

/* adding the font here */
@font-face {
    font-family: 'Jojoba';
    src: url('font/JojobaRegular.eot');
    src: url('font/JojobaRegular.eot?#iefix') format('embedded-opentype'),
        url('font/JojobaRegular.woff2') format('woff2'),
        url('font/JojobaRegular.woff') format('woff'),
        url('font/JojobaRegular.ttf') format('truetype'),
        url('font/JojobaRegular.svg#JojobaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
  box-sizing: border-box;
}

/* adding the grid background */
.grid-bg {
    display: flex;
    flex-direction: column;
}

html {
    font-size: 1.1vw;
}

body, html {
  margin: 0;
  padding: 0;
}

html,
body {
    height: 100%;
    min-height: 100%;
    background-image: url("../img/grid_background.svg");
    font-family: 'Jojoba', 'Nunito', sans-serif;
    font-weight: normal;
    font-style: normal;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    min-width: 100%;

}

/* header area */
.nav-header {
    display: flex;
    padding: 2.4rem;
    justify-content: space-between;

}

/* logo */
.nav-logo {
    height: 10rem;
}

/* yay text */
.yay-text {
    color: #12110C;
    font-size: 2.8rem;
    margin: 0px;
    transform: rotate(8deg);
}

/* welcome banner area */
.welcome-banner {
    display: flex;
    flex-direction: column;
    padding: 3rem 2.4rem;
}

.welcome-text {
    font-size: 8rem;
    margin: 0;
    color: #12110C;
    text-align: center;
}

.welcome-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
}

.welcome-doodles-area {
    display: flex;
    position: relative;
    justify-content: center;
}

.ecrown {
    height: 2rem;
    position: absolute;
    top: 8%;
    left: 14%;
}

.is-safari .ecrown {
    left: 12%;
}

.sun-doodle {
    height: 4rem;
    position: absolute;
}

.sun1 {
    left: 26%;
    top: 27%;
}

.is-safari .sun1 {
    left: 25%;
}

.sun2 {
    left: 52.5%;
    top: 27%;
}

.sun3 {
    right: 37%;
    top: 27%;
}

.green-ring {
    height: 14rem;
    right: 2%;
    top: -29%;
    position: absolute;
}

.is-safari .green-ring {
    right: 0%;
}

.smiley-face {
    height: 1.6rem;
    position: absolute;
    right: 7.5%;
    top: 14%;

}

.is-safari .smiley-face {
    right: 5%;
}

.mailclub {
    display: flex;
}

.mailclub img {
    height: 24rem;
}

.sub-area {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.sub-area img {
    height: 12rem;
    padding-bottom: 1rem;
    object-fit: contain;
}

.joinclub {
    display: flex;
    align-items: end;
}

.joinclub img {
    height: 20rem;
}

/* sub button */
.sub-button {
    color: white;
    background-color: #277206;
    border: 0;
    padding: 5.5rem;
    font-size: 4rem;
    border-radius: 10rem;
    cursor: pointer;
    transition: transform 0.2s;
}

.sub-button:hover {
    animation: bounce 0.6s infinite;
}

@keyframes bounce {
  0%   { transform: translateY(0); }
  30%  { transform: translateY(-10px); }
  50%  { transform: translateY(0); }
  70%  { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}


/* cute project area */

.project-intro {
    display: flex;
    flex-direction: column;
    padding: 3rem 2.4rem;
    justify-content: center;
}

.intro-text {
    text-align: center;
    font-size: 5.4rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    color: #12110C;
}

.intro-img {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
    width: 100%;
}

.avatar {
    height: 24rem;
    width: 20%;
    
}

.avatar-con {
    height: 5.4rem;
    flex-grow: 1;
    width: 20%;
}

.faq-wrapper, .footer-wrapper {
    display: flex;
    padding: 3rem 2.4rem;
    flex-direction: column;
}

.faq-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 2rem 0;
    position: relative;
    gap: 0.5rem;
}

.emphasis-1 {
    height: 2.4rem;
    position: absolute;
    left: 3%;
    top: 31%;
}

.asteriskkk {
    height: 1.6rem;
    position: absolute;
    right: 45%;
    bottom: 25%;
}

.emphasis-2 {
    height: 1.5rem;
    position: absolute;
    right: 47%;
    bottom: 36%;
}

.yellow-ring {
    height: 15rem;
    position: absolute;
    right: 32.5%;
    bottom: 1%;
}

.faq-question {
    color: #12110C;
    font-size: 3.6rem;
    margin: 0;
}

.faq-response {
    width: 27rem;
}

.faq-response li {
    font-size: 2.4rem;

}

.green {
    color: #277206;
}

.blue {
    color: #1137DD;
}

.red {
    color: #DB2D13;
}

/* footer */

.footer-logo {
    height: 16rem;
}

.footer-year {
    margin: 0;
    font-size: 4.8rem;
    color: #12110C;
}

.footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.footer-heart {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    align-items: center;
}

.social-medium {
    display: flex;
    gap: 2rem;
}

.social-link {
    font-size: 2.8rem;
    color: #1137DD;
    text-decoration: underline;
}

.footer-heart img {
    height: 6.4rem;
}

/* shop lastest drop */

.new-drop {
    display: flex;
    padding: 3rem 2.4rem;
    flex-direction: column;
}

.new-drop-text {
    text-align: left;
    font-size: 5rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    color: #12110C;
}

.new-drop-area {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    width: 100%;
    gap: 2.4rem;
}

.new-drop-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.drop-frame-wrapper {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.drop-frame {
    max-width: 100%;
    height: 36rem;
    position: absolute;
}

.drop-img {
    max-width: 100%;
    height: 28rem;
}

.month-text {
    font-size: 3rem;
    margin: 0;
    padding: 1rem 0;
    color: #12110C;
}

.new-drop-button {
    color: white;
    background-color: #12110C;
    border: 0;
    padding: 2rem 4rem;
    font-size: 3rem;
    border-radius: 10rem;
    cursor: pointer;
}

.new-drop-button:hover {
    background-color: #277206;
}

.new-drop-btn-disabled {
    opacity: 0.8;
    cursor: not-allowed;
    background-color: grey;
    transition: all 0.3s ease-in-out;
}

.new-drop-btn-disabled:hover{
    background-color: whitesmoke;
    animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}


/* mobile view */

@media screen and (max-width: 480px){
    .nav-header {
        padding: 4rem;
        align-items: center;
    }

    .nav-logo {
        max-width: 100%;
        height: 30rem;
    }

    .yay-text {
        font-size: 6rem;
    }

    .welcome-banner {
        padding: 6rem 4rem;
    }

    .welcome-text {
        font-size: 13rem;
    }

    .ecrown {
        top: 6%;
        left: 21%;
        height: 3rem;
    }

    .is-safari .ecrown {
        left: 19%;
    }

    .sun-doodle {
        height: 5rem;
    }

    .sun1 {
        left: 42%;
        top: 17%;
    }

    .is-safari .sun1 {
        left: 42%;
    }


    .sun2 {
        left: 86%;
        top: 17%;
    }

    .is-safari .sun2 {
        left: 88%;
    }


    .sun3 {
        right: 73%;
        top: 66%;
    }

    .is-safari .sun3 {
        right: 75%;
    }


    .green-ring {
        height: 20rem;
        right: 17%;
        top: 40%;
    }

    .is-safari .green-ring {
        right: 15%;
    }

    .smiley-face {
        height: 2rem;
        right: 23.5%;
        top: 59%;
    }

    .is-safari .smiley-face {
        right: 22%;
    }

    .sub-button {
        font-size: 5rem;
        padding: 7rem;
    }

    .welcome-img {
        padding-top: 4rem;
    }

    .sub-area img {
        height: 14rem;
    }

    .project-intro {
        padding: 6rem 4rem;
    }

    .intro-text {
        font-size: 6.4rem;
        margin-top: 2rem;
    }

    .faq-wrapper, .footer-wrapper {
        padding: 6rem 4rem;
    }

    .faq-item {
        flex-direction: column;
    }

    .faq-question {
        font-size: 4.8rem;
    }

    .faq-response {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .faq-response li {
        font-size: 4rem;
        width: 50%;
        padding-bottom: 0.5rem;
    }

    .emphasis-1 {
        height: 3rem;
        left: 3%;
        top: 19%;
    }

    .asteriskkk {
        height: 3rem;
        right: 7%;
        bottom: 20%;
    }

    .yellow-ring {
        height: 22rem;
        right: 1%;
        bottom: 0%;
    }

    .emphasis-2 {
        height: 2rem;
        right: 12%;
        bottom: 28%;
    }

    .social-link {
        font-size: 4.5rem;
    }

    .footer-logo {
        height: 24rem;
    }

    .footer-year {
        font-size: 8rem;
    }

    .footer-heart {
        padding: 4rem 0;
    }

    .footer-heart img {
        height: 8rem;
    }

    .new-drop {
        padding: 6rem 4rem;
    }

    .new-drop-text {
        font-size: 6rem;
        margin-top: 2rem;
    }

    .new-drop-area {
        flex-direction: column;
        gap: 8rem;
    }

    .new-drop-item {
        gap: 2rem;
    }

    .drop-frame-wrapper {
        padding: 4rem 0;
        margin: 2rem 0;
    }

    .drop-frame {
        height: auto;
    }

    .drop-img {
        height: auto;
        max-height: 86rem;
    }

    .month-text {
        font-size: 5rem;
    }

    .new-drop-button {
        font-size: 4.8rem;
        padding: 4rem;
    }


}